body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-center {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 2;
}

.nav-center a {
    color: rgb(177, 172, 172);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-center a:hover {
    color: #fff;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.nav-right span {
    color: white;
    font-weight: bold;
}

.nav-right a {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #555;
    transition: background-color 0.3s;
}

.nav-right a:hover {
    background-color: #777;
}